  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="card-booking m-2">
        <%= cl_image_tag booking.car.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-booking-infos p-2">
            <h3><strong><%= booking.car.brand %>: <%= booking.car.model %></strong></h3>
            <h5>Booked from: <%= booking.start_date %> to <%= booking.end_date %> by <strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong> </h5>
            <h5><strong>¥<%= booking.car.rate %> / day</strong></h5>
            <p>Car owner: <strong><%= booking.car.user.first_name %> <%= booking.car.user.last_name %></strong> </p>
        </div>
      </div>
    <% end %>
  </div>
