<div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-items-center py-0">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" style="flex: 1">
      <%= link_to "TURBO", "/", class: "navbar-brand text-white p-3"%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav align-items-center me-auto">
        <li class="nav-item active p-3">
          <%= link_to "All cars", "/cars", class: "text-decoration-none text-white align-item-center" %>
        </li>
        <li class="nav-item p-3 text-decoration-none text-white align-item-center" type="link" data-insert-review-target='link' data-bs-toggle="collapse" data-bs-target="#reviewCreate" aria-expanded="false" aria-controls="reviewCreate">
          <%= link_to "Brands", "/cars", class: "text-decoration-none text-white align-item-center" %></li>
        <li class="nav-item p-3 text-decoration-none text-white align-item-center" type="link" data-insert-review-target='link' data-bs-toggle="collapse" data-bs-target="#reviewLocation" aria-expanded="false" aria-controls="reviewLocation">
          <%= link_to "Locations", "/cars", class: "text-decoration-none text-white align-item-center" %>
        </li>
      </ul>
    </div>
    <div style="flex: 1" >
      <div class="row">
        <%= form_with url: cars_path, method: :get, class: "d-flex align-items-center" do %>
          <h6 class="pt-1 m-2"><i class="fa-solid fa-magnifying-glass text-white"></i></h6>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded-pill",
            placeholder: "Search by city, brand, model, or year"
            %>
          <%= submit_tag "Search", name: "", class: "m-3 btn btn-light shadow-sm align-item-center border rounded-pill" %>
        <% end %>
      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-end" style="flex: 1" id="navbarSupportedContent">
      <span class="nav-item active p-3">
        <%= link_to "Switch to owner", owner_bookings_path, class: "text-decoration-none text-white align-item-center" %>
      </span>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "See my bookings", "/bookings/", class: "dropdown-item text-secondary" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item text-secondary" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="collapse" id="reviewCreate">
    <div class="d-flex justify-content-center mt-auto">
      <%= link_to cars_path + "?query=lamborghini", class:"text-decoration-none link-dark m-3" do %>
        <div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtuhjb7P7sl7uoYaoa0Rd9DSfWF_xD9OfKcA&s" class="logo">
          <%# <h6>Lamborghini</h6> %>
        </div>
      <% end %>
      <%= link_to cars_path + "?query=bugatti", class:"text-decoration-none link-dark m-3" do %>
        <div>
          <img src="https://i.pinimg.com/736x/b3/51/fb/b351fb832347519de9172498d7439992.jpg" class="logo">
          <%# <p>Bugatti</p> %>
        </div>
      <% end %>
      <%= link_to cars_path + "?query=mclaren", class:"text-decoration-none link-dark m-3" do %>
        <div>
          <img src="https://ih1.redbubble.net/image.2473501157.0467/flat,750x,075,f-pad,750x1000,f8f8f8.jpg" class="logo">
          <%# <p>McLaren</p> %>
        </div>
      <% end %>
      <%= link_to cars_path + "?query=ferrari", class:"text-decoration-none link-dark m-3" do %>
        <div>
          <img src="https://i.pinimg.com/564x/1f/d0/7e/1fd07e1786e734eea0a974cf90080861.jpg" class="logo">
          <%# <p>Ferrari</p> %>
        </div>
      <% end %>
      <%= link_to cars_path + "?query=rollsroyce", class:"text-decoration-none link-dark m-3" do %>
        <div>
          <img src="https://i.ebayimg.com/images/g/0GwAAOSwvbJj3s6L/s-l1200.jpg" class="logo">
          <%# <p>Rolls Royce</p> %>
        </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-center mb-auto">
      <%= link_to cars_path + "?query=porsche", class:"text-decoration-none link-dark m-3" do %>
        <div>
          <img src="https://imagenes.elpais.com/resizer/v2/JLYOR4AIRNFTVOJMWI7G6BLZTU.jpg?auth=29657c259ddf29903d02b1211376c3143d39a9759f162384d20f124776a3ed53&width=1200" class="logo">
          <%# <p>Porsche</p> %>
        </div>
      <% end %>
      <%= link_to cars_path + "?query=aston martin", class:"text-decoration-none link-dark m-3" do %>
        <div>
          <img src="https://cdn.worldvectorlogo.com/logos/aston-martin.svg" class="logo">
          <%# <p>Mercedes-Benz</p> %>
        </div>
      <% end %>
      <%= link_to cars_path + "?query=alpha romeo", class:"text-decoration-none link-dark m-3" do %>
        <div>
          <img src="https://www.shutterstock.com/image-vector/chattogram-bangladesh-november-08-2023-600nw-2385417383.jpg" class="logo">
          <%# <p>Alfa Romeo</p> %>
        </div>
      <% end %>
      <%= link_to cars_path + "?query=mercedes", class:"text-decoration-none link-dark m-3" do %>
        <div>
          <img src="https://i.pinimg.com/736x/2b/8f/0c/2b8f0c2ffdcb7a2299ba30a61e8d9111.jpg" class="logo">
          <%# <p>Mercedes-Benz</p> %>
        </div>
      <% end %>
      <%= link_to cars_path + "?query=nissan", class:"text-decoration-none link-dark m-3" do %>
        <div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTutG4fdc14QZjkIDM80eXyopDyYkatioIy7w&s" class="logo">
          <%# <p>Nissan</p> %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="collapse" id="reviewLocation">
  <div>
    <div class="d-flex justify-content-center mt-auto">
      <%= link_to 'Tokyo', cars_path + "?query=tokyo", class: "m-1 p-2 text-decoration-none link-dark align-item-center"%>
      <%= link_to 'Sapporo', cars_path + "?query=sapporo", class: "m-1 p-2 text-decoration-none link-dark align-item-center"%>
      <%= link_to 'Fukuoka', cars_path + "?query=fukuoka", class: "m-1 p-2 text-decoration-none link-dark align-item-center"%>
      <%= link_to 'Osaka', cars_path + "?query=osaka", class: "m-1 p-2 text-decoration-none link-dark align-item-center"%>
    </div>

    <div class="d-flex justify-content-center mb-auto">
      <%= link_to 'Kyoto', cars_path + "?query=kyoto", class: "m-1 p-2 text-decoration-none link-dark align-item-center"%>
      <%= link_to 'Sendai', cars_path + "?query=sendai", class: "m-1 p-2 text-decoration-none link-dark align-item-center"%>
      <%= link_to 'Saitama', cars_path + "?query=saitama", class: "m-1 p-2 text-decoration-none link-dark align-item-center"%>
      <%= link_to 'Kobe', cars_path + "?query=kobe", class: "m-1 p-2 text-decoration-none link-dark align-item-center"%>
    </div>
  </div>
</div>

<div class="collapse" id="reviewSearch">
</div>
