<div class="banner" style="background-image: url('<%= @car.photo %>');">
  <h1>Car Details</h1>
</div>

<div class="container-wrapper">
  <div class="row">
    <div class="col-6">
      <div class="card mb-3">
        <%= image_tag @car.photo, class: 'w-100'%>
        <div class="card-car-infos mt-3">
          <div class="d-flex justify-content-between">
            <h2><strong><%= @car.brand %>: <%= @car.model %></strong></h2>
            <h5><strong>¥<%= @car.rate %>/day</strong></h5>
          </div>
          <p class="mt-3"><%= @car.description %></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <h2>Create Booking</h2>
        <%= simple_form_for [@car, @booking] do |form| %>
          <div class="mb-3">
            <%= form.label :start_date %>
            <%= form.date_select :start_date, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= form.label :end_date %>
            <%= form.date_select :end_date, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= form.submit "Create Booking", class: 'btn btn-primary btn-lg' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
