<div class="container">
  <div class="row">
    <div class="car-grid" style="margin-top: 20px;">
      <div class="main">
        <%= cl_image_tag @car.photos.first.key, height: 700, width: 1300, crop: :fill, style:'', class: "image-item" %>
      </div>
      <% @car.photos.each_with_index do |photo, index| %>
        <% if index > 0 %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, style:'', class: "item#{index} image-item" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-7">
      <div class="card-car">
        <div class="card-car-infos">
          <div class="d-flex justify-content-between">
            <h2><strong><%= @car.brand%> <%= @car.model %></strong></h2>
            <h5><strong>$<%= @car.rate %>0 per day</strong></h5>
          </div>
          <h5><%= @car.user.address %></h5>
          <div class="mt-3">
            <% description = @car.parsed_description.each do |line|%>
              <p><%= line  %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div data-controller="booking-price" data-booking-price-rate-value="<%= @car.rate %>">
        <div class="cards-form">
          <p class='fw-bold fs-3'>¥<%= @car.rate %> <small class='fw-light'>night</small></p>
          <%= simple_form_for [@car, @booking] do |f| %>
            <div class="d-flex">
              <%= f.input :start_date, html5: true, input_html: { data: { booking_price_target: 'start_date', action: 'change->booking-price#update' }, min: Date.today } %>
              <%= f.input :end_date, html5: true, input_html: { data: { booking_price_target: 'end_date', action: 'change->booking-price#update' }, min: Date.today } %>
            </div>
            <%= f.submit 'Book', class: 'create-form-button w-100' %>
            <p class='mt-3 d-flex align-items-center justify-content-between'>
              <span data-booking-price-target='info'></span>
              <span class='fw-bold' data-booking-price-target='rate'></span>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div style="mt-3 width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
