<div class="container-wrapper">
  <div class="row">
    <div class="col-8 ml-3">
      <div class="card-car mt-5">
        <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-car-infos">
          <div class="d-flex justify-content-between">
            <h2><strong><%= @car.brand %>: <%= @car.model %></strong></h2>
            <h5><strong>¥<%= @car.rate %>/day</strong></h5>
          </div>
          <h5><%= @car.user.address %></h5>
          <div class="mt-3">
            <% description = @car.parsed_description.each do |line|%>
              <p><%= line  %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 pr-3">
      <div class="card-form mt-5">
        <h2>Create Booking</h2>
        <div class="container">
          <%= simple_form_for [@car, @booking] do |form| %>
            <div class="mb-3">
              <%= form.label :start_date %>
              <%= form.date_select :start_date, class: 'form-control' %>
            </div>
            <div class="mb-3">
              <%= form.label :end_date %>
              <%= form.date_select :end_date, class: 'form-control' %>
            </div>
            <div class="mb-3">
              <%= form.submit "Create Booking", class: 'btn btn-primary btn-lg' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
